li {
    list-style: none;
}

.DropdownMenu {
    position: absolute;
    top: 64px;
    left: 20px;
    background-color: #f2f4f8;
    padding: 10px 20px;
    width: 100vw;
    height: 800px;
    display: flex;
}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.DropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform-origin: top center;
    animation: translateX 300ms ease-in-out forwards;
    transition: 500ms ease;
    flex-basis: 100%;
    display: flex;
    width: 100%;
}

.DropdownMenu.inactive {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}