li {
    list-style: none;
}

.DropdownMenu {
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: #f2f4f8;
    padding: 10px 20px;
    width: 800px;
}

.DropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}

.DropdownMenu.inactive {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}