.DropDownItem{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.Title{
    flex-basis: 10%;
    display: flex;
    font-size: 32px;
    font-style: italic;
}

.Items {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0 ;
}

.Items span{
    flex-basis: 9%;
    display: flex;
    margin: 20px 0 0 0 ;
    font-weight: 300;
}