.Footer {
    display: flex;
    height: 60vh;
    background: #FBF9F0;
    padding: 4.5rem 0;
    justify-content: center;
}

.Content,
.Journal,
.About,
.Contact,
.Services,
.Legal {
    flex-basis: 15%;
    display: flex;
}

.Content {
    flex-direction: column;
}

.Shop, .SocialLinks {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

#ShopTitle {
    flex-basis: 20%;
    display: flex;
    letter-spacing: 2.19px;
}

#ShopLink1, #ShopLink2, #ShopLink3 {
    flex-basis: 10%;
    font-size: .75rem;
    font-style: italic;
    cursor: pointer;
}
.SetFooterItems {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

#FooterTitle {
    flex-basis: 10%;
    display: flex;
    letter-spacing: 2.19px;
}
#FooterLink, #FooterLink{
    flex-basis: 5%;
    font-size: .75rem;
    font-style: italic;
    cursor: pointer;
}
.SocialLinks {
    flex-direction: column;
}
.Icons{
    flex-basis: 20%;
    display: flex;
}

.Icons span {
    display: flex;
    margin-right: 25px;
}

.CopyRight span {
    display: flex;
    flex-basis: 20%;
    font-size: 10.4px;
    margin-top: 10px;
}

.MadeText{
    flex-basis: 20%;
    display: flex;
    letter-spacing: 2.19px;
    font-size: 12px;
    margin-top: 10px;
}