.Navbar {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDFCF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.Utility {
    flex-basis: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LeftItems {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.WebLogo {
    flex-basis: 18%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.RightItems {
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Uitems1,
.Uitems2,
.Litems1,
.Litems2,
.Litems3,
.Ritems {
    list-style: none;
    cursor: pointer;
}

.Uitems1,
.Uitems2,
.Ritems {
    display: flex;
}

.Uitems1 {
    flex-basis: 40%;
    justify-content: center;
}

.Uitems2 {
    flex-basis: 30%;
    justify-content: center;
}


.Litems1 {
    flex-basis: 13%;
}

.Litems2 {
    flex-basis: 16%;
}

.Litems3 {
    flex-basis: 35%;
}

.Ritems {
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

.Counter {
    background: black;
    color: #f2f4f8;
    font-size: 17px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 6px;
}