.SecondShowRoom {
    display: flex;
}

.PhotoCollage {
    flex-basis: 50%;
    height: 800px;
}

.PhotoCollage img {
    height: 800px;
    width: 952px;
}
.ShopNowBtn {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.TextContainer{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Title, .SecondTitle {
    flex-basis: 50%;
}

.Title{
    padding: 500px 0 0 0;
    letter-spacing: 2.19px;
}

.SecondTitle{
    padding: 10px 440px 0 0;
    font-size: 32px;
    letter-spacing: 2.19px;
    font-style: italic;
}

.BtnContainer{
    flex-basis: 10%;
    display: flex;
}

.Btn {
    display: flex;
    border: 1px solid black;
    height: 50px;
    width: 300px;
    background: transparent;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 1.88px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 2.05rem 12px;
    cursor: pointer;
    margin-left: 95px;
}