.SlideShow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image1, .Image2, .Image3 {
    flex-basis: 34%;
    display: flex;
}
.Image1 img{
    flex-basis: 100%;
    width: 100%;
    height: 600px;
    cursor: pointer;
}

.Image2 img{
    flex-basis: 100%;
    width: 100%;
    height: 600px;
    cursor: pointer;
}

.Image3 img{
    flex-basis: 100%;
    width: 100%;
    height: 600px;
    cursor: pointer;
}
